@model ProjetoFinal.Models.Usuario

@{
    ViewBag.Title = "Creditos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Créditos</h2>
<!DOCTYPE html>
<html>
<head>
    <style>
        #modelo {
            border: 1px solid black;
            background: url(https://bit.ly/2DsneLl);
            background-size: 100%;
            background-size: 300px 200px;
            background-repeat: no-repeat;
            padding: 15px;
        }
    </style>
</head>
<body>

    <h1>Projeto MVC C#</h1>

    <h2>Metodologias desenvolvidas:</h2>
    <div id="modelo">
        <h1>Cadastro</h1>
        <p>Nesse projeto pude desenvolver meus conhecimentos em C#, Web e POO. O projeto foi desenvolvido no modelo MVC.</p>
        <h1>Game</h1>
        <p>Tive alguns problemas com o Game mas vou estar atualizando meus estudos e meu projeto.</p>

    </div>

    <div id="modelo">
        <h1>Agradecimento</h1>
        <p>Agradeço a minha mãe Claudia,e a minha namorada Mariana Coutinho, pelas horas doadas para que eu pudesse terminar esse projeto.</p>
        <p>A comunidade do StackOverflow pelas dicas, ao meu grande professor Dudu e meu amigo Gabriel aka Mottinha pela ajuda durante todo o Projeto.</p>
    </div>

</body>
</html>
